APP_NAME=YouTube Collector API
APP_VERSION=1.0.0
APP_ENV=development

HOST=0.0.0.0
PORT=8000

LOG_LEVEL=INFO

YTDLP_QUIET=true
YTDLP_NO_WARNINGS=true

YTDLP_RETRIES=3
YTDLP_SOCKET_TIMEOUT=20

YTDLP_DEFAULT_FLAT=false
YTDLP_INCLUDE_COMMENTS=false

YTDLP_PROXY=
YTDLP_COOKIE_FILE=

INGESTION_ENABLED=true
INGESTION_URL=http://localhost:3000/ingestion/json
INGESTION_TIMEOUT=30

VIDEO_DOWNLOAD_ENABLED=true
VIDEO_DOWNLOAD_DIR=D:\GitPoom\youtube-highlight-api\storage\sources
VIDEO_DOWNLOAD_FORMAT=bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4]
